.next
out
dist
build
node_modules
.bun-cache
coverage
.nyc_output
.env*.local
.eslintcache
.DS_Store
public/sw.js
public/workbox-*.js
public/worker-*.js
public/fallback-*.js
public/sw.js.map
public/workbox-*.js.map
public/worker-*.js.map
public/fallback-*.js.map
*.log
*.lock
*.tmp
*.tgz
*.tar.gz
.turbo
.vercel
.swc
.cache
.parcel-cache
terraform.tfstate
terraform.tfstate.backup
*.tfvars
.terraform/
.terraform.lock.hcl